:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

mat-sidenav {
  width: fit-content;
  padding: var(--space-7);
  background-color: var(--mat-sys-surface-container-low);
}

.content {
  max-width: var(--content-max-width);
  margin: auto;
  padding: var(--space-7);
  height: 100%;
}
