@use '@angular/material' as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary)
    )
  );
}

mat-toolbar {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
      state-layer-color: var(--mat-sys-on-primary),
      ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-primary) 16%,
          transparent
        )
    )
  );
}
