:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.75rem;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --letter-spacing-wide: 0.04em;
}
