.transaction-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  max-width: 650px;
  width: 100%;
  margin: auto;

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style-type: none;
  }
}
